<ion-content class="ion-padding">
    <div class="full-height ion-justify-content-center ion-align-items-center">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <img src="assets/popcorn.svg" alt="Assiste Logo" class="ion-padding" width="350"/>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-card>
            <ion-row>
                <ion-col>
                    <ion-card-header>
                        <ion-card-title>Olá</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Bem-vindo ao Assiste Logo! Para continuar, escolha uma das opções abaixo.
                    </ion-card-content>
                </ion-col>
            </ion-row>
        </ion-card>

        <ion-grid>
            <ion-row class="ion-justify-content-center">
                <ion-col size="16">
                    <ion-button shape="round" color="primary" expand="full" class="ion-text-wrap">Entrar</ion-button>
                </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
                <ion-col size="16">
                    <ion-button shape="round" color="light" expand="full" class="ion-text-wrap">Criar conta</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>